openapi: 3.0.1
info:
  title: Air Search
  description: "# API Information\nAmadeus oAuth API to generate new token and get details of token. Currently this will give you data for guest user.\n## Headers\n1. ### API subcription key\n   \n   To access the API you need to use subscription key as header\n   ```      \n    Ocp-Apim-Subscription-Key: <subscription key value>    \n   ``` \n2. ### Traceability token\n\n  For better traceability of requests, a traceability token should be added\n  to  every API call as a HTTP header tag: ``saudia-request-id``.\n\nThis allows a correlation of logs between the client application and the API, enabling:\nThe ``saudia-request-id`` should have less than 64 characters. Additional characters are ignored.\n    \nThe recommended format for this token is composed of both a session part and  a request part resulting in a unique ID for a single request.\nThis recommended format is as following: ``${SESSION_ID}:${REQUEST_ID}``.\nWhere:\n- ``SESSION_ID``: is a client-side generated token identifying the client-side user session. For example:    \n\n  - ``123e4567-e89b-12d3-a456-426655440000`` if the application uses \n  [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) \n  in [RFC 4122](https://tools.ietf.org/html/rfc4122)\n  \n  - ``kGAMfG5by8NaHqZxkQ3oDCpQ6oszEwaIusvbE-6S9x59qZxD_pKH`` if the \n  application is a J2EE application using a ``JSESSIONID`` as a cookie\n\n\n- ``REQUEST_ID`` is a client-side request id within the client-side user session matching the ``[a-zA-Z0-9]{1,10}`` format.\n\n  - For example: ``1``, ``42``\n\n  - There is no notion of order between two ``REQUEST_ID``\n\n  - ``REQUEST_ID`` must be unique within a session.\n\n\nExamples:\n\n- Request ``2fc0`` within session ``123e4567-e89b-12d3-a456-426655440000`` traceability token:\n ``saudia-request-id: 123e4567-e89b-12d3-a456-426655440000:2fc0``      \n"
  contact: { }
  version: '1.0'
servers:
  - url: https://apim-sa-sandbox.azure-api.net/airsearch
paths:
  /search/air-calendars:
    post:
      tags:
      - AirCalendar
      summary: Advanced search for air calendars (cheapest price per day)
      description: |
        Air calendar enables a customer who has flexible dates to see the cheapest price option per day over a range of days.
        The number of days of flexibility can be sent in input to indicate the number of days before and after the requested date to be searched.
        For a round trip request, the standard range of days is up to 7, meaning three days before and three days after the requested date.
        For a one-way request, the range is up to 15 days, meaning seven days before and seven days after the requested date.
        By default if no travellers are specified, the results are returned for one adult. Also, if no flexibility is specified, for both one way and round-trip the results returned are for a range of seven days, meaning three days before and three days after the requested date.
        The standard flexibility ranges can be extended using implementation configuration settings.
        Note that only the price is returned, not the details of the flights.
        Dictionary structure is available on page [Maps in dictionary documentation](https://dxapi.digitalforairlines.com/swagger-ui/display/documentation.html#/Maps/get_).
      operationId: advancedAirCalendar
      parameters:
      - name: lang
        in: query
        description: Code used for data localization.
        schema:
          pattern: '[a-zA-Z0-9-]{2,5}'
          type: string
      - name: guestOfficeId
        in: query
        description: guest Office Id
        schema:
          type: string          
      - name: "SAA-session-id"
        in: "header"
        description: "Session id which maps to the existing client session"
        required: true
        schema:
          type: string  
      requestBody:
        description: Description of inputs needed to perform the advanced search of
          airCalendar
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirCalendarSearchRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirCalendarReply'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
      x-codegen-request-body-name: advancedCalendarInputs
  /search/air-bounds:
    post:
      tags:
      - AirBound
      summary: Construction mode search for air bounds
      description: |
        This is a shopping transaction that returns a list of air bounds corresponding to the provided search criteria.
        An 'AirBound' corresponds to a flight proposal for a given bound (i.e. for a round-trip MAD-LON, the first bound is MAD-LON and the second bound is LON-MAD)..
      operationId: airBoundsShopping
      parameters:
      - name: lang
        in: query
        description: Code used for data localization.
        schema:
          pattern: '[a-zA-Z0-9-]{2,5}'
          type: string
      - name: guestOfficeId
        in: query
        description: guest Office Id
        schema:
          type: string           
      - name: "SAA-session-id"
        in: "header"
        description: "Session id which maps to the existing client session"
        required: true
        schema:
          type: string  
      requestBody:
        description: Description of inputs needed to perform the search of airBounds
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirBoundsSearchRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirBoundsListReply'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
      x-codegen-request-body-name: airBoundsInputs
  /search/air-bound-exchanges:
    post:
      tags:
      - AirBound
      summary: Construction mode search for air bounds
      description: |
        This is a shopping transaction that returns a list of air bounds corresponding to the provided search criteria.
        An 'AirBound' corresponds to a flight proposal for a given bound (i.e. for a round-trip MAD-LON, the first bound is MAD-LON and the second bound is LON-MAD)..
      operationId: airBoundsExchangeShopping
      parameters:
      - name: lang
        in: query
        description: Code used for data localization.
        schema:
          pattern: '[a-zA-Z0-9-]{2,5}'
          type: string
      - name: guestOfficeId
        in: query
        description: guest Office Id
        schema:
          type: string           
      - name: "SAA-session-id"
        in: "header"
        description: "Session id which maps to the existing client session"
        required: true
        schema:
          type: string  
      requestBody:
        description: Description of inputs needed to perform the search of airBounds
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirBoundsExchangeSearchRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirBoundsListReply'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
      x-codegen-request-body-name: airBoundsExchangeInputs  
  /search/flight-details:
    get:
      tags:
      - FlightInformation
      summary: Get Flight Information
      description: |
        Return the flight information for a given flight number.
      operationId: standaloneFlightInfo
      parameters:
      - name: marketingAirlineCode
        in: query
        description: IATA airline code (http://www.iata.org/publications/Pages/code-search.aspx)
        required: true
        schema:
          pattern: '[A-Z0-9]{2,3}'
          type: string
          x-dictionary-name: airline
          x-field-name: airline
          x-field-type: string
        x-dictionary-name: airline
        x-field-name: airline
        x-field-type: string
      - name: marketingFlightNumber
        in: query
        description: Marketing flight number
        required: true
        schema:
          pattern: '[A-Z0-9]*'
          type: string
      - name: departureDate
        in: query
        description: 'Departure flight date in [ISO 8601](http://www.w3.org/TR/NOTE-datetime)
          without timezone. Ex : 2026-07-01'
        schema:
          type: string
          format: date
      - name: guestOfficeId
        in: query
        description: guest Office Id
        schema:
          type: string           
      - name: "SAA-session-id"
        in: "header"
        description: "Session id which maps to the existing client session"
        required: true
        schema:
          type: string  
      responses:
        200:
          description: Flight information by flight number
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightInformationReply'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
  /search/flight-details/by-order:
    get:
      tags:
      - FlightInformation
      summary: Get Flight Information by order
      description: |
        Return the flight information for a given Order and flight id.
      operationId: flightInformationByOrder
      parameters:
      - name: orderId
        in: query
        description: Identifier of an order (Record Locator)
        required: true
        schema:
          pattern: '[a-zA-Z0-9]{6}'
          type: string
          x-risk-personal-data-field: AMADEUS_IDENTIFIER
        x-risk-personal-data-field: AMADEUS_IDENTIFIER
      - name: flightId
        in: query
        description: Identifier of the target flight
        required: true
        schema:
          pattern: '[a-zA-Z0-9-]{1,20}'
          type: string
          x-risk-personal-data-field: AMADEUS_IDENTIFIER
        x-risk-personal-data-field: AMADEUS_IDENTIFIER
      - name: lastName
        in: query
        description: Last name of one traveler part of the cart or the order
        required: true
        schema:
          pattern: ^[A-Za-z\u00C0-\u1FFF\u3040-\uD7AF][A-Za-z\u00C0-\u1FFF\u3040-\uD7AF\u2019
            \-.]{0,69}$
          type: string
          x-risk-personal-data-field: PASSENGER_NAME
        x-risk-personal-data-field: PASSENGER_NAME
      - name: guestOfficeId
        in: query
        description: guest Office Id
        schema:
          type: string         
      - name: SAA-session-id
        in: header
        description: "Session id which maps to the existing client session"
        required: true
        schema:
          type: string  
      responses:
        200:
          description: Flight information by order and flightid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightInformationReply'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
  /search/air-offers/{airOfferId}:
    get:
      tags:
      - AirOffer
      summary: Retrieve an offer
      description: |
        Retrieve an Offer based on its Offer id.
        Dictionary structure is available on page [Maps in dictionary documentation](https://dxapi.digitalforairlines.com/swagger-ui/display/documentation.html#/Maps/get_).
      operationId: retrieveAirOffer
      parameters:
      - name: airOfferId
        in: path
        description: Identifier of an offer
        required: true
        schema:
          pattern: '[a-zA-Z0-9-]{1,120}'
          type: string
          x-risk-personal-data-field: AMADEUS_IDENTIFIER
        x-risk-personal-data-field: AMADEUS_IDENTIFIER
      - name: lang
        in: query
        description: Code used for data localization.
        schema:
          pattern: '[a-zA-Z0-9-]{2,5}'
          type: string
      - name: guestOfficeId
        in: query
        description: guest Office Id
        schema:
          type: string           
      - name: "SAA-session-id"
        in: "header"
        description: "Session id which maps to the existing client session"
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirOfferReply'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
      security:
      - basicAuth: []
  /search/air-offers:
    get:
      tags:
      - AirOffer
      summary: Retrieve air offers with additional services
      description: |
        This is a shopping transaction that returns a list of air offers and associated services for a given set of criteria.
        So far only one way and round trip are supported.
        Note #1: In case the number of travelers is not specified, by default the Digital API returns the result for one adult.
        Note #2: Complex Itinerary and Round the World are not directly supported (they will be supported as multi steps transaction).
        Note #3: Dictionary structure is available on page [Maps in dictionary documentation](https://dxapi.digitalforairlines.com/swagger-ui/display/documentation.html#/Maps/get_).
      operationId: airShopping
      parameters:
      - name: departureDateTime
        in: query
        description: |
          Departure date and time of the outbound (first flight) in [ISO 8601](http://www.w3.org/TR/NOTE-datetime). It can be used as input parameter or as attribute of the output response: - in case of input parameter it specifies date and hours of the search (eg. 2027-11-10T10:21:00); - when used as output field it specifies date, hours and timezone of the result (eg. 2027-02-10T06:12:00+02:00). Timezone is always referring to the location associated (i.e. departure airport).
        required: true
        schema:
          type: string
          format: date-time
      - name: originLocationCode
        in: query
        description: Departure location code of outbound (city or airport code)
        required: true
        schema:
          pattern: '[a-zA-Z]{3}'
          type: string
          x-dictionary-name: location
          x-field-name: originLocation
          x-field-type: LocationDictionaryItem
        x-dictionary-name: location
        x-field-name: originLocation
        x-field-type: LocationDictionaryItem
      - name: destinationLocationCode
        in: query
        description: Destination location code (city or airport code) for the outbound,
          in case of a round trip this is also the departure location code of second
          bound
        required: true
        schema:
          pattern: '[a-zA-Z]{3}'
          type: string
          x-dictionary-name: location
          x-field-name: destinationLocation
          x-field-type: LocationDictionaryItem
        x-dictionary-name: location
        x-field-name: destinationLocation
        x-field-type: LocationDictionaryItem
      - name: returnDateTime
        in: query
        description: |
          Return date and time for a return trip or continuation of an open-jaw, in [ISO 8601](http://www.w3.org/TR/NOTE-datetime). It might be used as input parameter or as attribute of the output response: - in case of input parameter it specifies date and hours of the search (eg. 2027-11-10T10:21:00); - when used as output field it specifies date, hours and timezone of the result (eg. 2027-02-10T06:12:00+02:00). Timezone is always referring to the location associated (i.e. arrival airport).
        schema:
          type: string
          format: date-time
      - name: commercialFareFamilies
        in: query
        description: Commercial fare families that apply to every bound of the itinerary.
        style: form
        explode: false
        schema:
          type: array
          items:
            pattern: '[a-zA-Z0-9 -]{1,35}'
            type: string
      - name: travelers
        in: query
        description: |
          It allows to define quantity and type of travelers.
          The traveler type corresponds to a [Passenger type code](http://api.dev.amadeus.net/api/Development/common/codelist/PNR_PassengerType.htm)
          'INF' corresponds to an infant without seat automatically associated to the first eligible traveler provided in the list.
          Example 1: '3ADT,1INS' corresponds to a request for three adults and one infant with seat
          Example 2: '1ADT,2YTH,1CHD,2INF' corresponds to a request for 1 adult, 2 youths, 2 children and 2 infants (associated respectively to one adult and one youth)
        style: form
        explode: false
        schema:
          maxItems: 6
          type: array
          items:
            pattern: '[1-9]{1}[a-zA-Z0-9]{2,3}'
            type: string
          x-risk-personal-data-field: PASSENGER_TYPE
        x-risk-personal-data-field: PASSENGER_TYPE
      - name: max
        in: query
        description: Maximum number of items to return. By default, all items are
          returned.
        schema:
          minimum: 1
          type: integer
      - name: maxPrice
        in: query
        description: 'Maximum total price excluding fees of an offer to be returned
          as a whole number. Example: if the target maximum price is 140.00, the value
          to be provided should be 140. If used, parameter currencyCode is mandatory'
        schema:
          minimum: 1
          type: integer
      - name: departureTimeWindow
        in: query
        description: 'Time window in hours for the outbound (first flight). E.g: departureTimeWindow=2
          means from 2 hours before, until 2 hours after the departure time. The value
          0 is considered as there is no time window.'
        schema:
          maximum: 12
          minimum: 0
          type: integer
      - name: returnTimeWindow
        in: query
        description: 'Time window for the return trip or continuation of an open-jaw.
          E.g: A returnTimeWindow=2 means from 2 hours before, until 2 hours after
          the return time. The value 0 is considered as there is no time window.'
        schema:
          maximum: 12
          minimum: 0
          type: integer
      - name: alternateOriginLocationCode
        in: query
        description: In case of open jaw, origin location code for return bound (city
          or airport code)
        schema:
          pattern: '[a-zA-Z]{3}'
          type: string
          x-dictionary-name: location
          x-field-name: alternateOriginLocation
          x-field-type: LocationDictionaryItem
        x-dictionary-name: location
        x-field-name: alternateOriginLocation
        x-field-type: LocationDictionaryItem
      - name: alternateDestinationLocationCode
        in: query
        description: In case of open jaw, destination location for return bound (city
          or airport code)
        schema:
          pattern: '[a-zA-Z]{3}'
          type: string
          x-dictionary-name: location
          x-field-name: alternateDestinationLocation
          x-field-type: LocationDictionaryItem
        x-dictionary-name: location
        x-field-name: alternateDestinationLocation
        x-field-type: LocationDictionaryItem
      - name: corporateCodes
        in: query
        description: Corporate code or corporate name are used for targeting specific
          corporate fares.
        style: form
        explode: false
        schema:
          maxItems: 6
          type: array
          items:
            pattern: '[a-zA-Z][a-zA-Z0-9]{1,9}|\d{6}'
            type: string
      - name: directFlights
        in: query
        description: Search only for direct (without connections) flight proposals.
        schema:
          type: boolean
          default: false
      - name: promotionCode
        in: query
        description: |-
          Value of the promotionCode.
          Note: If no promotionCode provided in input and if promotionAirlineCode provided in input, then the services catalogue / the seatmap will be sent without applying any promocode.
        schema:
          type: string
      - name: promotionAirlineCode
        in: query
        description: |-
          Code of the airline which is owner of the promotionCode.
          Note: If promotionCode provided in input and if no promotionAirlineCode provided in input, then airline used for the promocode computation is the one of the calling UI.
        schema:
          pattern: '[A-Z0-9]{2,3}'
          type: string
      - name: showSoldOut
        in: query
        description: This is to request sold out flights along with the available
          ones
        schema:
          type: boolean
          default: false
      - name: lang
        in: query
        description: Code used for data localization.
        schema:
          pattern: '[a-zA-Z0-9-]{2,5}'
          type: string
      - name: guestOfficeId
        in: query
        description: guest Office Id
        schema:
          type: string           
      - name: "SAA-session-id"
        in: "header"
        description: "Session id which maps to the existing client session"
        required: true
        schema:
          type: string  
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirOffersListReply'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
    post:
      tags:
      - AirOffer
      summary: Advanced search for air offers with additional services
      description: |
        This is a shopping transaction that returns a list of air offers and associated services for a given set of criteria.
        This entry point supports all the advanced use-cases on top of the simple entry point (i.e. all traveler associations, PTC discounts).
      operationId: advancedAirShopping
      parameters:
      - name: lang
        in: query
        description: Code used for data localization.
        schema:
          pattern: '[a-zA-Z0-9-]{2,5}'
          type: string
      - name: guestOfficeId
        in: query
        description: guest Office Id
        schema:
          type: string           
      - name: "SAA-session-id"
        in: "header"
        description: "Session id which maps to the existing client session"
        required: true
        schema:
          type: string
      requestBody:
        description: Description of inputs needed to perform the advanced search of
          airOffers
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirOffersAdvancedSearchRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirOffersListReply'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
      x-codegen-request-body-name: advancedInputs
  /search/air-calendar-exchanges:
    post:
      tags:
      - AirExchangeCalendar
      summary: Advanced search for air exchange calendars (cheapest price per day)
      description: |
        Air exchange calendar (ATC) enables a customer who has flexible dates to see the cheapest price option per day over a range of days for an exchange.
        The number of days of flexibility can be sent in input to indicate the number of days before and after the requested date to be searched.
        For a round trip request, the standard range of days is up to 7, meaning three days before and three days after the requested date.
        For a one-way request, the range is up to 15 days, meaning seven days before and seven days after the requested date.
        By default if no travellers are specified, the results are returned for one adult. Also, if no flexibility is specified, for both one way and round-trip the results returned are for a range of seven days, meaning three days before and three days after the requested date.
        The standard flexibility ranges can be extended using implementation configuration settings.
        Note that only the price is returned, not the details of the flights.
        Dictionary structure is available on page [Maps in dictionary documentation](https://dxapi.digitalforairlines.com/swagger-ui/display/documentation.html#/Maps/get_).
      operationId: advancedAirExchangeCalendar
      parameters:
      - name: lastName
        in: query
        description: Last name of one traveler part of the cart or the order
        schema:
          pattern: ^[A-Za-z\u00C0-\u1FFF\u3040-\uD7AF][A-Za-z\u00C0-\u1FFF\u3040-\uD7AF\u2019
            \-.]{0,69}$
          type: string
          x-risk-personal-data-field: PASSENGER_NAME
        x-risk-personal-data-field: PASSENGER_NAME
      - name: firstName
        in: query
        description: First name of one traveler part of the order
        schema:
          pattern: ^[A-Za-z\u00C0-\u1FFF\u3040-\uD7AF][A-Za-z\u00C0-\u1FFF\u3040-\uD7AF\u2019
            \-.]{0,69}$
          type: string
          x-risk-personal-data-field: PASSENGER_NAME
        x-risk-personal-data-field: PASSENGER_NAME
      - name: lang
        in: query
        description: Code used for data localization.
        schema:
          pattern: '[a-zA-Z0-9-]{2,5}'
          type: string
      - name: guestOfficeId
        in: query
        description: guest Office Id
        schema:
          type: string           
      - name: SAA-session-id
        in: "header"
        description: "Session id which maps to the existing client session"
        required: true
        schema:
          type: string
      requestBody:
        description: Description of inputs needed to perform the advanced search of
          airExchangeCalendar
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirExchangeCalendarAdvancedSearchRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirExchangeCalendarReply'
        400:
          description: |-
            Bad request Warnings that can be returned by the application:
            |  Code   |           Title                    | Description                                                                         |
            |:-------:|:----------------------------------:|-------------------------------------------------------------------------------------|
            |  39360  | NO FLIGHT FOUND                    | No flight recommendation found                                                      |
            |  39236  | MISSING COMMERCIAL FARE FAMILY     | unexpected attribute.                                                               |
            |  65019  | UNABLE TO PROCESS                  | Technical failure                                                                   |
            |  36916  | INVALID NUMBER OF TRAVELERS        | Too many passenger in request                                                       |
            |  39336  | INVALID LOCATION CODE              | Invalid location code                                                               |
            |  39414  | INVALID ITINERARY                  | Invalid itinerary structure                                                         |
            |  39333  | INVALID DATE                       | Invalid date or date in the past                                                    |
            |  36996  | INVALID FLEXIBILITY                | Invalid flexibility value                                                           |
            |  39333  | LAST NAME SHOULD BE PROVIDED       | Last name in input is mandatory                                                     |
            |  36996  | INVALID TRAVELER ID                | Invalid traveler ID value                                                           |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        404:
          description: |-
            Not found Warnings that can be returned by the application:
            |  Code   |           Title                    | Description                                                                         |
            |:-------:|:----------------------------------:|-------------------------------------------------------------------------------------|
            |  36894  | ORDER NOT FOUND                    | Order ID or last name is invalid                                                    |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
      x-codegen-request-body-name: advancedExchangeCalendarInputs
  /search/raw-air-offer-conditions:
    get:
      tags:
      - FareConditions
      summary: Retrieve the full fare conditions in raw format
      description: |-
        Retrieve the full fare conditions applicable for the requested travelers either:
           - for an air-offer stored in a cart
           - for an order (not yet supported)

        Full fare conditions are the representation of the exhaustive list of purchase conditions defined by the airline for a given fare.
        Fare conditions are returned in English in raw format ordered by fare categories.
        Warning: retrieving the full fare conditions for too many travelers may have an impact on the API performences by increasing the response time.
        When specified, fare conditions are returned only for the sub-set of requested fare categories.
      operationId: rawAirOfferConditions
      parameters:
      - name: cartId
        in: query
        description: Identifier of the cart
        schema:
          pattern: '[a-zA-Z0-9]{16}'
          type: string
          x-risk-personal-data-field: AMADEUS_IDENTIFIER
        x-risk-personal-data-field: AMADEUS_IDENTIFIER
      - name: orderId
        in: query
        description: Identifier of an order (Record Locator)
        schema:
          pattern: '[a-zA-Z0-9]{6}'
          type: string
          x-risk-personal-data-field: AMADEUS_IDENTIFIER
        x-risk-personal-data-field: AMADEUS_IDENTIFIER
      - name: lastName
        in: query
        description: Last name of one traveler part of the cart or the order
        schema:
          pattern: ^[A-Za-z\u00C0-\u1FFF\u3040-\uD7AF][A-Za-z\u00C0-\u1FFF\u3040-\uD7AF\u2019
            \-.]{0,69}$
          type: string
          x-risk-personal-data-field: PASSENGER_NAME
        x-risk-personal-data-field: PASSENGER_NAME
      - name: travelerIds
        in: query
        description: List of traveler identifiers
        style: form
        explode: false
        schema:
          type: array
          items:
            pattern: '[a-zA-Z0-9-]{1,20}'
            type: string
          x-risk-personal-data-field: AMADEUS_IDENTIFIER
        x-risk-personal-data-field: AMADEUS_IDENTIFIER
      - name: categories
        in: query
        description: List of ATPCO fare categories
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - advancePurchase
            - minimumStay
            - maximumStay
            - change
            - refund
            - salesRestrictions
            - flightApplication
            - childDiscounts
            - tourConductor
            - agentsDiscounts
            - otherDiscounts
            - stopovers
            - transfers
            - endorsement
            - combinability
            - higherIntermediatePoints
            - miscellaneous
            - seasonality
            - blackouts
            - dayTime
            - travelRestrictions
            - penalties
            - surcharges
            - eligibility
            - voluntaryRefunds
            - reservationsAndTicketing
            - accompaniedTravel
            - groups
            - tours
            - fareByRule
            - visitAnotherCountry
            - negotiatedFares
            - ruleApplication
      responses:
        200:
          description: |
            Returned in case of succesfull fare conditions retrieval or in case of functional error
            Warnings that can be returned by the application:
            |  Code   |          Title        | Description                                                        |
            |:-------:|:---------------------:|--------------------------------------------------------------------|
            |  39675  | MAXIMUM DATA EXCEEDED | Warning returned when the content to be retrieved exceed 399 lines |
            Errors that can be returned by the application:
            |  Code   |                 Title                 | Description                                                                 |
            |:-------:|:-------------------------------------:|-----------------------------------------------------------------------------|
            |  39533  | UNABLE TO RETRIEVE OFFER CONDITIONS   | Error returned in case of error occurs while retrieving the fare conditions |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawAirOfferConditionsReply'
        400:
          description: |
            Bad request
            Errors that can be returned by the application:
            |  Code   |             Title             | Description                                                                                                       |
            |:-------:|:-----------------------------:|-------------------------------------------------------------------------------------------------------------------|
            |  4926   | INVALID DATA RECEIVED         | Error returned when one of the provided categories is not valid                                                   |
            |  36962   | LAST NAME SHOULD BE PROVIDED | Error returned when raw air offer conditions are requested for an Order with no last name provided in the request |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        404:
          description: "Not found\nErrors that can be returned by the application:\n\
            |  Code   |         Title         | Description                      \
            \                                                                  |\n\
            |:-------:|:---------------------:|----------------------------------------------------------------------------------------------------|\n\
            |  36798  | CART NOT FOUND          | Error returned when no cart was\
            \ found for provided cartId                                        |\n\
            |  36894  | ORDER NOT FOUND         | Error returned when no order was\
            \ found for provided orderId                                      |\n\
            |  37594  | NO FLIGHTS IN THE ORDER | No flight found in PNR.        \
            \                                                                  |\n\
            |  36799  |\tOFFER NOT FOUND         | No offer found in cart.       \
            \                                                                   |\n\
            |  36890  | TRAVELER NOT FOUND      | Error returned when provided travelerId\
            \ does not correspond to any traveler in the cart or order |\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        500:
          description: |
            Internal server error
            Errors that can be returned by the application:
            |  Code   |                 Title                | Description                                                                     |
            |:-------:|:------------------------------------:|---------------------------------------------------------------------------------|
            |   11    | UNABLE TO PROCESS                    | Error returned when no cart was found for provided cartId                       |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
  
components:
  schemas:
    RawAirOfferCondition:
      type: object
      properties:
        travelerIds:
          type: array
          items:
            pattern: '[a-zA-Z0-9-]{1,20}'
            type: string
        flightIds:
          type: array
          items:
            pattern: '[a-zA-Z0-9-]{1,20}'
            type: string
        category:
          type: string
          description: |
            ATPCO category of the condition (e.g. Advance Purchase, Change conditions, Stopover ...)
          enum:
          - advancePurchase
          - minimumStay
          - maximumStay
          - change
          - refund
          - salesRestrictions
          - flightApplication
          - childDiscounts
          - tourConductor
          - agentsDiscounts
          - otherDiscounts
          - stopovers
          - transfers
          - endorsement
          - combinability
          - higherIntermediatePoints
          - miscellaneous
          - seasonality
          - blackouts
          - dayTime
          - travelRestrictions
          - penalties
          - surcharges
          - eligibility
          - voluntaryRefunds
          - reservationsAndTicketing
          - accompaniedTravel
          - groups
          - tours
          - fareByRule
          - visitAnotherCountry
          - negotiatedFares
          - ruleApplication
          - other
          x-dictionary-name: airOfferConditionCategory
          x-field-name: airOfferConditionCategory
          x-field-type: string
        rawDescription:
          type: string
          description: Raw description corresponding to the fare conditions of given
            fare category
      description: |
        Full fare conditions applicable to the requested passengers  and flights being part of the itinerary.
      x-api-ref: RawAirOfferCondition
    RawAirOfferConditionsReply:
      allOf:
      - $ref: '#/components/schemas/CommonReply'
      - required:
        - data
        type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/RawAirOfferCondition'
          dictionaries:
            $ref: '#/components/schemas/AirOfferConditionDictionary'
      x-api-ref: RawAirOfferConditionsReply
    AirOfferConditionDictionary:
      allOf:
      - $ref: '#/components/schemas/DictionaryCommon'
      - type: object
        properties:
          airOfferConditionCategory:
            type: object
            additionalProperties:
              type: string
            description: Fare condition category map. For more details please see
              [Maps in dictionary documentation](https://dxapi.digitalforairlines.com/swagger-ui/display/documentation.html#/Maps/get_)
          airOfferConditionSituation:
            type: object
            additionalProperties:
              type: string
            description: Fare condition situation map. For more details please see
              [Maps in dictionary documentation](https://dxapi.digitalforairlines.com/swagger-ui/display/documentation.html#/Maps/get_)
      x-api-ref: AirOfferConditionDictionary
    FlightInformationReply:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
                  parameter:
                    type: string
                required:
                - pointer
                - parameter
              status:
                type: string
            required:
            - code
            - title
            - detail
            - source
            - status
        warnings:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
                  parameter:
                    type: string
                required:
                - pointer
                - parameter
            required:
            - code
            - title
            - detail
            - source
        data:
          type: array
          items:
            type: object
            properties:
              departure:
                type: object
                properties:
                  locationCode:
                    type: string
                  dateTime:
                    type: string
                  estimatedDateTime:
                    type: string
                  gate:
                    type: string
                  terminal:
                    type: string
                  timings:
                    type: object
                    properties:
                      scheduledDepartureDateTime:
                        type: string
                      actualOffBlockDateTime:
                        type: string
                      estimatedOffBlockDateTime:
                        type: string
                      estimatedTakeOffDateTime:
                        type: string
                      actualTakeOffDateTime:
                        type: string
                    required:
                    - scheduledDepartureDateTime
                    - actualOffBlockDateTime
                    - estimatedOffBlockDateTime
                    - estimatedTakeOffDateTime
                    - actualTakeOffDateTime
                  flightStatus:
                    type: string
                  flightDelay:
                    type: object
                    properties:
                      reason:
                        type: string
                      duration:
                        type: integer
                    required:
                    - reason
                    - duration
                required:
                - locationCode
                - dateTime
                - estimatedDateTime
                - gate
                - terminal
                - timings
                - flightStatus
                - flightDelay
              arrival:
                type: object
                properties:
                  locationCode:
                    type: string
                  dateTime:
                    type: string
                  estimatedDateTime:
                    type: string
                  gate:
                    type: string
                  terminal:
                    type: string
                  timings:
                    type: object
                    properties:
                      scheduledArrivalDateTime:
                        type: string
                      actualOnBlockDateTime:
                        type: string
                      estimatedOnBlockDateTime:
                        type: string
                      estimatedTouchDownDateTime:
                        type: string
                      actualTouchDownDateTime:
                        type: string
                    required:
                    - scheduledArrivalDateTime
                    - actualOnBlockDateTime
                    - estimatedOnBlockDateTime
                    - estimatedTouchDownDateTime
                    - actualTouchDownDateTime
                  diversion:
                    type: object
                    properties:
                      fromAirport:
                        type: string
                      toAirport:
                        type: string
                    required:
                    - fromAirport
                    - toAirport
                  flightStatus:
                    type: string
                  flightDelay:
                    type: object
                    properties:
                      reason:
                        type: string
                      duration:
                        type: integer
                    required:
                    - reason
                    - duration
                required:
                - locationCode
                - dateTime
                - estimatedDateTime
                - gate
                - terminal
                - timings
                - diversion
                - flightStatus
                - flightDelay
              marketingFlight:
                type: object
                properties:
                  airlineCode:
                    type: string
                  flightNumber:
                    type: string
                required:
                - airlineCode
                - flightNumber
              operatingFlight:
                type: object
                properties:
                  airlineCode:
                    type: string
                  flightNumber:
                    type: string
                  airlineName:
                    type: string
                required:
                - airlineCode
                - flightNumber
                - airlineName
              isOpenSegment:
                type: boolean
              secureFlightIndicator:
                type: boolean
              performanceIndicator:
                type: object
                properties:
                  onTimeArrival:
                    type: integer
                  calculationPeriod:
                    type: string
                  dataAccuracy:
                    type: string
                required:
                - onTimeArrival
                - calculationPeriod
                - dataAccuracy
              aircraftCode:
                type: string
              stops:
                type: array
                items:
                  type: object
                  properties:
                    locationCode:
                      type: string
                    departureTerminal:
                      type: string
                    duration:
                      type: integer
                    isChangeOfGauge:
                      type: boolean
                    arrivalDateTime:
                      type: string
                    departureDateTime:
                      type: string
                    aircraftCode:
                      type: string
                    aircraftOwnerAirlineCode:
                      type: string
                    aircraftOwnerAirlineName:
                      type: string
                    departureTimings:
                      type: object
                      properties:
                        scheduledDepartureDateTime:
                          type: string
                        actualOffBlockDateTime:
                          type: string
                        estimatedOffBlockDateTime:
                          type: string
                        estimatedTakeOffDateTime:
                          type: string
                        actualTakeOffDateTime:
                          type: string
                      required:
                      - scheduledDepartureDateTime
                      - actualOffBlockDateTime
                      - estimatedOffBlockDateTime
                      - estimatedTakeOffDateTime
                      - actualTakeOffDateTime
                    arrivalTimings:
                      type: object
                      properties:
                        scheduledArrivalDateTime:
                          type: string
                        actualOnBlockDateTime:
                          type: string
                        estimatedOnBlockDateTime:
                          type: string
                        estimatedTouchDownDateTime:
                          type: string
                        actualTouchDownDateTime:
                          type: string
                      required:
                      - scheduledArrivalDateTime
                      - actualOnBlockDateTime
                      - estimatedOnBlockDateTime
                      - estimatedTouchDownDateTime
                      - actualTouchDownDateTime
                    diversion:
                      type: object
                      properties:
                        fromAirport:
                          type: string
                        toAirport:
                          type: string
                      required:
                      - fromAirport
                      - toAirport
                    availableBookingClasses:
                      type: array
                      items:
                        type: string
                    flightStatus:
                      type: string
                    flightDelay:
                      type: object
                      properties:
                        reason:
                          type: string
                        duration:
                          type: integer
                      required:
                      - reason
                      - duration
                    availableMealsPerBookingClass:
                      type: array
                      items:
                        type: object
                        properties:
                          bookingClass:
                            type: string
                          mealCodes:
                            type: array
                            items:
                              type: string
                        required:
                        - bookingClass
                        - mealCodes
                  required:
                  - locationCode
                  - departureTerminal
                  - duration
                  - isChangeOfGauge
                  - arrivalDateTime
                  - departureDateTime
                  - aircraftCode
                  - aircraftOwnerAirlineCode
                  - aircraftOwnerAirlineName
                  - departureTimings
                  - arrivalTimings
                  - diversion
                  - availableBookingClasses
                  - flightStatus
                  - flightDelay
                  - availableMealsPerBookingClass
              duration:
                type: integer
              availableBookingClasses:
                type: array
                items:
                  type: string
              flightStatus:
                type: string
              flightDelay:
                type: object
                properties:
                  reason:
                    type: string
                  duration:
                    type: integer
                required:
                - reason
                - duration
              availableMealsPerBookingClass:
                type: array
                items:
                  type: object
                  properties:
                    bookingClass:
                      type: string
                    mealCodes:
                      type: array
                      items:
                        type: string
                  required:
                  - bookingClass
                  - mealCodes
            required:
            - departure
            - arrival
            - marketingFlight
            - operatingFlight
            - isOpenSegment
            - secureFlightIndicator
            - performanceIndicator
            - aircraftCode
            - stops
            - duration
            - availableBookingClasses
            - flightStatus
            - flightDelay
            - availableMealsPerBookingClass
        dictionaries:
          type: object
          properties:
            location:
              type: object
              properties:
                additionalProp1:
                  type: object
                  properties:
                    type:
                      type: string
                    airportName:
                      type: string
                    cityCode:
                      type: string
                    cityName:
                      type: string
                    stateCode:
                      type: string
                    countryCode:
                      type: string
                    timeZone:
                      type: string
                  required:
                  - type
                  - airportName
                  - cityCode
                  - cityName
                  - stateCode
                  - countryCode
                  - timeZone
                additionalProp2:
                  type: object
                  properties:
                    type:
                      type: string
                    airportName:
                      type: string
                    cityCode:
                      type: string
                    cityName:
                      type: string
                    stateCode:
                      type: string
                    countryCode:
                      type: string
                    timeZone:
                      type: string
                  required:
                  - type
                  - airportName
                  - cityCode
                  - cityName
                  - stateCode
                  - countryCode
                  - timeZone
                additionalProp3:
                  type: object
                  properties:
                    type:
                      type: string
                    airportName:
                      type: string
                    cityCode:
                      type: string
                    cityName:
                      type: string
                    stateCode:
                      type: string
                    countryCode:
                      type: string
                    timeZone:
                      type: string
                  required:
                  - type
                  - airportName
                  - cityCode
                  - cityName
                  - stateCode
                  - countryCode
                  - timeZone
              required:
              - additionalProp1
              - additionalProp2
              - additionalProp3
            country:
              type: object
              properties:
                additionalProp1:
                  type: string
                additionalProp2:
                  type: string
                additionalProp3:
                  type: string
              required:
              - additionalProp1
              - additionalProp2
              - additionalProp3
            airline:
              type: object
              properties:
                additionalProp1:
                  type: string
                additionalProp2:
                  type: string
                additionalProp3:
                  type: string
              required:
              - additionalProp1
              - additionalProp2
              - additionalProp3
            aircraft:
              type: object
              properties:
                additionalProp1:
                  type: string
                additionalProp2:
                  type: string
                additionalProp3:
                  type: string
              required:
              - additionalProp1
              - additionalProp2
              - additionalProp3
            meal:
              type: object
              properties:
                additionalProp1:
                  type: string
                additionalProp2:
                  type: string
                additionalProp3:
                  type: string
              required:
              - additionalProp1
              - additionalProp2
              - additionalProp3
          required:
          - location
          - country
          - airline
          - aircraft
          - meal
      required:
      - errors
      - warnings
      - data
      - dictionaries
    AirCalendarSearchRequest:
      type: object
      properties:
        airCalendarSearchInputs:
          type: object
          properties:
            travelers:
              type: array
              items:
                type: object
                properties:
                  passengerTypeCode:
                    type: string
                  frequentFlyerCards:
                    type: array
                    items:
                      type: object
                      properties:
                        companyCode:
                          type: string
                        cardNumber:
                          type: string
                      required:
                      - companyCode
                      - cardNumber
                  discounts:
                    type: array
                    items:
                      type: string
                  customerInsights:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        insightsCode:
                          type: string
                        companyCode:
                          type: string
                      required:
                      - id
                      - insightsCode
                      - companyCode
                required:
                - passengerTypeCode
                - frequentFlyerCards
                - discounts
                - customerInsights
            commercialFareFamilies:
              type: array
              items:
                type: string
            corporateCodes:
              type: array
              items:
                type: string
            currencyCode:
              type: string
            max:
              type: integer
            maxPrice:
              type: integer
            promotion:
              type: object
              properties:
                code:
                  type: string
                airlineCode:
                  type: string
              required:
              - code
              - airlineCode
            frequentFlyer:
              type: object
              properties:
                companyCode:
                  type: string
                cardNumber:
                  type: string
                priorityCode:
                  type: string
                tierLevel:
                  type: string
                airlineCustomerValue:
                  type: string
              required:
              - companyCode
              - cardNumber
              - priorityCode
              - tierLevel
              - airlineCustomerValue
            itineraries:
              type: array
              items:
                type: object
                properties:
                  originLocationCode:
                    type: string
                  destinationLocationCode:
                    type: string
                  departureDateTime:
                    type: string
                  departureTimeWindow:
                    type: integer
                  directFlights:
                    type: boolean
                  flexibility:
                    type: integer
                  stopOver:
                    type: object
                    properties:
                      locationCodes:
                        type: array
                        items:
                          type: string
                      stayDuration:
                        type: integer
                    required:
                    - locationCodes
                    - stayDuration
                  commercialFareFamilies:
                    type: array
                    items:
                      type: string
                  connection:
                    type: object
                    properties:
                      locationCodes:
                        type: array
                        items:
                          type: string
                    required:
                    - locationCodes
                  isRequestedBound:
                    type: boolean
                required:
                - originLocationCode
                - destinationLocationCode
                - departureDateTime
                - departureTimeWindow
                - directFlights
                - flexibility
                - stopOver
                - commercialFareFamilies
                - connection
                - isRequestedBound
            searchPreferences:
              type: object
              properties:
                showMilesPrice:
                  type: boolean
                showUnavailableEntries:
                  type: boolean
                includeWaitlist:
                  type: boolean
              required:
              - showMilesPrice
              - showUnavailableEntries
              - includeWaitlist
            selectedBoundId:
              type: string
          required:
          - travelers
          - commercialFareFamilies
          - corporateCodes
          - currencyCode
          - max
          - maxPrice
          - promotion
          - frequentFlyer
          - itineraries
          - searchPreferences
          - selectedBoundId
        promoAvailabilityInputs:
          type: object
          properties:
            code:
              type: string
            sessionId:
              type: string
            officeId:
              type: string
            market:
              type: string
            usageId:
              type: integer
          required:
          - code
          - sessionId
          - officeId
          - market
          - usageId
        returnPromoConditions:
          type: boolean
      required:
      - airCalendarSearchInputs
      - promoAvailabilityInputs
      - returnPromoConditions
    AirCalendarReply:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
                  parameter:
                    type: string
                required:
                - pointer
                - parameter
              status:
                type: string
            required:
            - code
            - title
            - detail
            - source
            - status
        warnings:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
                  parameter:
                    type: string
                required:
                - pointer
                - parameter
            required:
            - code
            - title
            - detail
            - source
        data:
          type: object
          properties:
            airCalendars:
              type: array
              items:
                type: object
                properties:
                  departureDate:
                    type: string
                  returnDate:
                    type: string
                  prices:
                    type: object
                    properties:
                      unitPrices:
                        type: array
                        items:
                          type: object
                          properties:
                            travelerIds:
                              type: array
                              items:
                                type: string
                            flightIds:
                              type: array
                              items:
                                type: string
                            prices:
                              type: array
                              items:
                                type: object
                                properties:
                                  base:
                                    type: integer
                                  baseDetails:
                                    type: object
                                    properties:
                                      surcharges:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            value:
                                              type: integer
                                            rawValue:
                                              type: string
                                            currencyCode:
                                              type: string
                                            code:
                                              type: string
                                            category:
                                              type: string
                                            isExempted:
                                              type: boolean
                                            pricingTimeWindow:
                                              type: string
                                            percentage:
                                              type: integer
                                          required:
                                          - value
                                          - rawValue
                                          - currencyCode
                                          - code
                                          - category
                                          - isExempted
                                          - pricingTimeWindow
                                          - percentage
                                    required:
                                    - surcharges
                                  total:
                                    type: integer
                                  currencyCode:
                                    type: string
                                  taxes:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: integer
                                        rawValue:
                                          type: string
                                        currencyCode:
                                          type: string
                                        code:
                                          type: string
                                        category:
                                          type: string
                                        isExempted:
                                          type: boolean
                                        percentage:
                                          type: integer
                                        applicationLevel:
                                          type: string
                                      required:
                                      - value
                                      - rawValue
                                      - currencyCode
                                      - code
                                      - category
                                      - isExempted
                                      - percentage
                                      - applicationLevel
                                  totalTaxes:
                                    type: integer
                                  surcharges:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: integer
                                        rawValue:
                                          type: string
                                        currencyCode:
                                          type: string
                                        code:
                                          type: string
                                        category:
                                          type: string
                                        isExempted:
                                          type: boolean
                                        pricingTimeWindow:
                                          type: string
                                        percentage:
                                          type: integer
                                      required:
                                      - value
                                      - rawValue
                                      - currencyCode
                                      - code
                                      - category
                                      - isExempted
                                      - pricingTimeWindow
                                      - percentage
                                  totalSurcharges:
                                    type: integer
                                  fees:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: integer
                                        rawValue:
                                          type: string
                                        currencyCode:
                                          type: string
                                        code:
                                          type: string
                                        nature:
                                          type: string
                                        minAmount:
                                          type: integer
                                        maxAmount:
                                          type: integer
                                      required:
                                      - value
                                      - rawValue
                                      - currencyCode
                                      - code
                                      - nature
                                      - minAmount
                                      - maxAmount
                                  totalFees:
                                    type: integer
                                  discount:
                                    type: object
                                    properties:
                                      originalTotal:
                                        type: integer
                                      originalBase:
                                        type: integer
                                      originalTotalTaxes:
                                        type: integer
                                      discountCode:
                                        type: string
                                      discountCodes:
                                        type: array
                                        items:
                                          type: string
                                    required:
                                    - originalTotal
                                    - originalBase
                                    - originalTotalTaxes
                                    - discountCode
                                    - discountCodes
                                  conditions:
                                    type: object
                                    properties:
                                      itemOccurrence:
                                        type: object
                                        properties:
                                          min:
                                            type: integer
                                          max:
                                            type: integer
                                        required:
                                        - min
                                        - max
                                    required:
                                    - itemOccurrence
                                required:
                                - base
                                - baseDetails
                                - total
                                - currencyCode
                                - taxes
                                - totalTaxes
                                - surcharges
                                - totalSurcharges
                                - fees
                                - totalFees
                                - discount
                                - conditions
                            milesConversion:
                              type: object
                              properties:
                                convertedMiles:
                                  type: object
                                  properties:
                                    base:
                                      type: integer
                                    total:
                                      type: integer
                                    totalTaxes:
                                      type: integer
                                    totalSurcharges:
                                      type: integer
                                    discount:
                                      type: object
                                      properties:
                                        originalTotal:
                                          type: integer
                                        originalBase:
                                          type: integer
                                        originalTotalTaxes:
                                          type: integer
                                        discountCode:
                                          type: string
                                        discountCodes:
                                          type: array
                                          items:
                                            type: string
                                      required:
                                      - originalTotal
                                      - originalBase
                                      - originalTotalTaxes
                                      - discountCode
                                      - discountCodes
                                  required:
                                  - base
                                  - total
                                  - totalTaxes
                                  - totalSurcharges
                                  - discount
                                remainingNonConverted:
                                  type: object
                                  properties:
                                    base:
                                      type: integer
                                    baseDetails:
                                      type: object
                                      properties:
                                        surcharges:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              value:
                                                type: integer
                                              rawValue:
                                                type: string
                                              currencyCode:
                                                type: string
                                              code:
                                                type: string
                                              category:
                                                type: string
                                              isExempted:
                                                type: boolean
                                              pricingTimeWindow:
                                                type: string
                                              percentage:
                                                type: integer
                                            required:
                                            - value
                                            - rawValue
                                            - currencyCode
                                            - code
                                            - category
                                            - isExempted
                                            - pricingTimeWindow
                                            - percentage
                                      required:
                                      - surcharges
                                    total:
                                      type: integer
                                    currencyCode:
                                      type: string
                                    taxes:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          value:
                                            type: integer
                                          rawValue:
                                            type: string
                                          currencyCode:
                                            type: string
                                          code:
                                            type: string
                                          category:
                                            type: string
                                          isExempted:
                                            type: boolean
                                          percentage:
                                            type: integer
                                          applicationLevel:
                                            type: string
                                        required:
                                        - value
                                        - rawValue
                                        - currencyCode
                                        - code
                                        - category
                                        - isExempted
                                        - percentage
                                        - applicationLevel
                                    totalTaxes:
                                      type: integer
                                    surcharges:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          value:
                                            type: integer
                                          rawValue:
                                            type: string
                                          currencyCode:
                                            type: string
                                          code:
                                            type: string
                                          category:
                                            type: string
                                          isExempted:
                                            type: boolean
                                          pricingTimeWindow:
                                            type: string
                                          percentage:
                                            type: integer
                                        required:
                                        - value
                                        - rawValue
                                        - currencyCode
                                        - code
                                        - category
                                        - isExempted
                                        - pricingTimeWindow
                                        - percentage
                                    totalSurcharges:
                                      type: integer
                                    fees:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          value:
                                            type: integer
                                          rawValue:
                                            type: string
                                          currencyCode:
                                            type: string
                                          code:
                                            type: string
                                          nature:
                                            type: string
                                          minAmount:
                                            type: integer
                                          maxAmount:
                                            type: integer
                                        required:
                                        - value
                                        - rawValue
                                        - currencyCode
                                        - code
                                        - nature
                                        - minAmount
                                        - maxAmount
                                    totalFees:
                                      type: integer
                                    discount:
                                      type: object
                                      properties:
                                        originalTotal:
                                          type: integer
                                        originalBase:
                                          type: integer
                                        originalTotalTaxes:
                                          type: integer
                                        discountCode:
                                          type: string
                                        discountCodes:
                                          type: array
                                          items:
                                            type: string
                                      required:
                                      - originalTotal
                                      - originalBase
                                      - originalTotalTaxes
                                      - discountCode
                                      - discountCodes
                                    conditions:
                                      type: object
                                      properties:
                                        itemOccurrence:
                                          type: object
                                          properties:
                                            min:
                                              type: integer
                                            max:
                                              type: integer
                                          required:
                                          - min
                                          - max
                                      required:
                                      - itemOccurrence
                                  required:
                                  - base
                                  - baseDetails
                                  - total
                                  - currencyCode
                                  - taxes
                                  - totalTaxes
                                  - surcharges
                                  - totalSurcharges
                                  - fees
                                  - totalFees
                                  - discount
                                  - conditions
                              required:
                              - convertedMiles
                              - remainingNonConverted
                            exchangePrices:
                              type: object
                              properties:
                                balance:
                                  type: object
                                  properties:
                                    base:
                                      type: integer
                                    total:
                                      type: integer
                                    totalTaxes:
                                      type: integer
                                    currencyCode:
                                      type: string
                                  required:
                                  - base
                                  - total
                                  - totalTaxes
                                  - currencyCode
                                additionalCollection:
                                  type: object
                                  properties:
                                    value:
                                      type: integer
                                    rawValue:
                                      type: string
                                    currencyCode:
                                      type: string
                                  required:
                                  - value
                                  - rawValue
                                  - currencyCode
                                penalty:
                                  type: object
                                  properties:
                                    value:
                                      type: integer
                                    rawValue:
                                      type: string
                                    currencyCode:
                                      type: string
                                  required:
                                  - value
                                  - rawValue
                                  - currencyCode
                                refund:
                                  type: object
                                  properties:
                                    value:
                                      type: integer
                                    rawValue:
                                      type: string
                                    currencyCode:
                                      type: string
                                  required:
                                  - value
                                  - rawValue
                                  - currencyCode
                              required:
                              - balance
                              - additionalCollection
                              - penalty
                              - refund
                          required:
                          - travelerIds
                          - flightIds
                          - prices
                          - milesConversion
                          - exchangePrices
                      totalPrices:
                        type: array
                        items:
                          type: object
                          properties:
                            base:
                              type: integer
                            baseDetails:
                              type: object
                              properties:
                                surcharges:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: integer
                                      rawValue:
                                        type: string
                                      currencyCode:
                                        type: string
                                      code:
                                        type: string
                                      category:
                                        type: string
                                      isExempted:
                                        type: boolean
                                      pricingTimeWindow:
                                        type: string
                                      percentage:
                                        type: integer
                                    required:
                                    - value
                                    - rawValue
                                    - currencyCode
                                    - code
                                    - category
                                    - isExempted
                                    - pricingTimeWindow
                                    - percentage
                              required:
                              - surcharges
                            total:
                              type: integer
                            currencyCode:
                              type: string
                            taxes:
                              type: array
                              items:
                                type: object
                                properties:
                                  value:
                                    type: integer
                                  rawValue:
                                    type: string
                                  currencyCode:
                                    type: string
                                  code:
                                    type: string
                                  category:
                                    type: string
                                  isExempted:
                                    type: boolean
                                  percentage:
                                    type: integer
                                  applicationLevel:
                                    type: string
                                required:
                                - value
                                - rawValue
                                - currencyCode
                                - code
                                - category
                                - isExempted
                                - percentage
                                - applicationLevel
                            totalTaxes:
                              type: integer
                            surcharges:
                              type: array
                              items:
                                type: object
                                properties:
                                  value:
                                    type: integer
                                  rawValue:
                                    type: string
                                  currencyCode:
                                    type: string
                                  code:
                                    type: string
                                  category:
                                    type: string
                                  isExempted:
                                    type: boolean
                                  pricingTimeWindow:
                                    type: string
                                  percentage:
                                    type: integer
                                required:
                                - value
                                - rawValue
                                - currencyCode
                                - code
                                - category
                                - isExempted
                                - pricingTimeWindow
                                - percentage
                            totalSurcharges:
                              type: integer
                            fees:
                              type: array
                              items:
                                type: object
                                properties:
                                  value:
                                    type: integer
                                  rawValue:
                                    type: string
                                  currencyCode:
                                    type: string
                                  code:
                                    type: string
                                  nature:
                                    type: string
                                  minAmount:
                                    type: integer
                                  maxAmount:
                                    type: integer
                                required:
                                - value
                                - rawValue
                                - currencyCode
                                - code
                                - nature
                                - minAmount
                                - maxAmount
                            totalFees:
                              type: integer
                            discount:
                              type: object
                              properties:
                                originalTotal:
                                  type: integer
                                originalBase:
                                  type: integer
                                originalTotalTaxes:
                                  type: integer
                                discountCode:
                                  type: string
                                discountCodes:
                                  type: array
                                  items:
                                    type: string
                              required:
                              - originalTotal
                              - originalBase
                              - originalTotalTaxes
                              - discountCode
                              - discountCodes
                            conditions:
[...]
